@charset "utf-8";
h1 {
	color: #000000;
	font-style: normal;
	font-weight: 900;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-size: xx-large;
}
#continfo {
	float: none;
	margin-right: 50px;
}
#news {
	float: right;
	width: 20%;
	margin-right: 27%;
}
#main {
	margin-left: 22%;
	width: 70%;

}


#education {
	float: none;
	left: 0px;
	width: 50%;
}
#pub {
	width: 50%;
}
#footer {
	text-align: center;
	background-color: #999999;
	width: 73%;
}
.pic_right {
	float: right;
}
.center {
	text-align: center;

}
